@import '../../../node_modules/foundation-sites/scss/foundation';

@include foundation-global-styles;
@include foundation-grid;

body {

    header {
        background-color: lightgreen;

        ul {
            list-style: none;

            li {
                display: inline-block;
            }
        }
    }

    main {
        
        #show-menu {
            background-color: lightblue;
        }

        #create-menu {
            background-color: lightpink;  
        }

        .hidden {
            display: none;
        }
    }
}

footer {
    background-color: lightslategrey;
}