@import '../../../node_modules/foundation-sites/scss/foundation';

@include foundation-global-styles;
@include foundation-grid;


$text-primary-color: #1E2732;
$text-secondary-color: #2B3B4C;
$text-highlight-color: #FF6F4F;
$text-highlight-secondary-color: #FFFEF7;

$background-primary-color: #2B3B4C;
$background-secondary-color: #FFFEF7;

$navigation-background-color: #DCD9C8;

$button-background-color: #2B3B4C;
$button-background-secondary-color: #FF6F4F;
$button-text-color: #FFFEF7;

$border-radius: 5px;


body {
    color: $text-primary-color;
}

button {
    border-radius: $border-radius;
}

.hidden{
    display: none;
}




@import 'partials/header';
@import 'partials/menu';
@import 'partials/createmenu';
@import 'partials/footer';